<header>
  <mat-toolbar color="primary" class="toolbar">
    <div class="left">
      <div class="logo">
        GroundBNB
      </div>
      <button *ngIf="isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/">
        All Apartments
      </button>
      <button *ngIf="isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/user/apartments">
        My Apartments
      </button>
      <button *ngIf="isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/user/reservations">
        My Reservations
      </button>
      <button *ngIf="isAdmin" mat-raised-button color="accent" type="button" routerLink="adminpage">
        Admin Page
      </button>
    </div>
    <div class="right">
      <button *ngIf="!isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/signup">
        Sign Up
      </button>
      <button *ngIf="!isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/login">
        Login
      </button>
      <button *ngIf="isLoggedIn" mat-raised-button color="accent" type="button" routerLink="/user/settings">
        {{currentUser | userNameCapital}}
      </button>
      <button *ngIf="isLoggedIn" mat-raised-button color="accent" type="button" (click)="logout()">
        Logout
      </button>
    </div>
  </mat-toolbar>
</header>
