<mat-toolbar color="primary">
    Ground BNB 2.0
    <button 
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayApartmentsPage()">
        Apartments
</button>
<button 
    *ngIf="this.tokenService.isAdmin()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayReservationsPage()">
        Reservations
</button>
<button 
*ngIf="this.tokenService.getMyId()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayMyApartmentsPage()">
    My Apartments
</button>
<button 
    *ngIf="!this.tokenService.getMyId()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="displaySignUpPage()">
        Sign Up
</button>
<button 
    *ngIf="!this.tokenService.getMyId()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayLoginsPage()">
        Login
</button>
<button 
    *ngIf="this.tokenService.getMyId()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="Logout()">
        Sign Out
</button>
<button 
    *ngIf="this.tokenService.isAdmin()"
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayAllUsersPage()">
        Users list
</button>
<h3>Hello {{this.tokenService.getUser().firstname + " " + this.tokenService.getUser().lastname + (this.tokenService.getMyId() ? " log ":" dis ") + this.tokenService.isAdmin()}}</h3>
</mat-toolbar>
