<mat-toolbar color="primary">
    Ground BNB 2.0
    <button 
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayApartmentsPage()">
        Apartments
</button>
<button 
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayReservationsPage()">
        Reservations
</button>
<button 
    mat-raised-button
    color="accent"
    type="button"
    (click)="displayUsersPage()">
        Users
</button>
<button 
    mat-raised-button
    color="accent"
    type="button">
        Login
</button>
<button 
    mat-raised-button
    color="accent"
    type="button">
        Sign Out
</button>
</mat-toolbar>
