<tr>
    <td >Apartment Name: {{apartmentName}}</td>
    <td >Owner: {{apartmentOwner}}</td>
    <td >Start Date: {{reservation.startdate}}</td>
    <td >End Date: {{reservation.enddate}}</td>
    <div *ngIf="!allowEdit">
        <td >Review: {{reservation.review}}</td>
        <td >Rating: {{reservation.rating}}</td>
    </div>
    <div *ngIf="allowEdit">
        <form  (submit)="onSubmit(reservationForm)" #reservationForm="ngForm">
            <td>
                Review: 
                <mat-form-field>
                    <input 
                    matInput type="text"
                    name="review"
                    ngModel
                    minlength="3"
                    #review="ngModel"
                    [(ngModel)]="reservation.review">
                </mat-form-field>
            </td>
            <td>
                Rating: 
                <mat-form-field>
                    <input 
                    matInput type="number"
                    name="rating"
                    ngModel
                    #rating="ngModel"
                    [(ngModel)]="reservation.rating">
                </mat-form-field>
            </td>
            <td>
                <button 
                    mat-raised-button
                    color="primary"
                    type="submit">
                        Update Reservation
                </button> 
                <button 
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="onDelete()">Delete
                </button>
            </td>
        </form>
    </div>
</tr>