<mat-card>
  <form (submit)="onSubmit(searchForm)" #searchForm="ngForm">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate matInput name="startdate" ngModel #startdate="ngModel" placeholder="Start date">
        <input matEndDate matInput name="enddate" ngModel #enddate="ngModel" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <br>
    City:
    <mat-form-field>
      <input matInput type="text" name="city" ngModel minlength="3" #city="ngModel">
    </mat-form-field>
    <br>
    Max-Price:
    <mat-form-field>
      <input matInput type="number" name="maxprice" ngModel #maxprice="ngModel">
    </mat-form-field>
    <br>
    Min-Visitors:
    <mat-form-field>
      <input matInput type="number" name="minvisitors" ngModel #minvisitors="ngModel">
    </mat-form-field>
    <br>
    Search Key Words (Aho Corasick)<br>Enter with ',' between words eg: "beach,free parking"
    <mat-form-field>
      <textarea matInput rows=6 name="description" ngModel #description="ngModel"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Search
    </button>
    <button mat-raised-button color="warn" type="button" onclick="submit()">
      Clear
    </button>
  </form>
</mat-card>
