<mat-card>
    <form (submit)="onSubmit(searchForm)" #searchForm="ngForm">

    <mat-checkbox
        type="button"
        mat-fab
        color="primary"
        (change)="show = !show"
    ><h2>Search Apartment</h2></mat-checkbox>
    
    <div *ngIf="show">
        Name:
        <mat-form-field>
            <input 
            matInput type="text"
            name="name"
            ngModel
            minlength="3"
            #name="ngModel">
        </mat-form-field>
        <br>
        <br>
        City:
        <mat-form-field>
            <input 
            matInput type="text"
            name="city"
            ngModel
            minlength="3"
            #city="ngModel">
        </mat-form-field>
        <br>
        Address:
        <mat-form-field>
            <input 
            matInput type="text"
            name="address"
            ngModel
            minlength="3"
            #address="ngModel">
        </mat-form-field>
        <br>
        Price:
        <mat-form-field>
            <input 
            matInput type="number"
            name="price"
            ngModel
            #price="ngModel">
        </mat-form-field>
        <br>
        Max-Visitors:
        <mat-form-field>
            <input 
            matInput type="number"
            name="maxvisitors"
            ngModel
            #maxvisitors="ngModel">
        </mat-form-field>
        <br>
        <button 
            mat-raised-button
            color="accent"
            type="submit">
                Search
        </button>
    </div>
</form>
</mat-card>