<app-header
(onPageChange)="page=$event"
></app-header>
<main [ngSwitch]="page">
    <div *ngSwitchCase="Page.ApartmentsList">
        <app-apartment-create (onApartmentAdded)="apartmentList.refreshList()"></app-apartment-create>
        <app-apartment-search></app-apartment-search>
        <app-apartment-list #apartmentList></app-apartment-list>
        <br><br><br>
    </div>

    <div *ngSwitchCase="Page.ReservationsList">
        <app-reservation-list></app-reservation-list>
    </div>

    <div *ngSwitchCase="Page.UsersList">
        <app-users-create ></app-users-create>
    </div>

    <div *ngSwitchCase="Page.LogIn">
        <app-user-login></app-user-login>
    </div>
</main>