<mat-card *ngIf="(isMyReservations)">
  <form  (submit)="onSearch(searchForm)" #searchForm="ngForm">

    <div *ngIf="!isForMyApartments">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="date" ngModel #date="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      Apartment Name:
      <mat-form-field>
        <input matInput type="text" name="apartmentname" ngModel minlength="3" #apartmentname="ngModel">
      </mat-form-field>
      <br>
      City:
      <mat-form-field>
        <input matInput type="text" name="city" ngModel minlength="3" #city="ngModel">
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" type="submit">
        Search
      </button>
    </div>
  </form>
</mat-card> 
<br>
<div *ngIf="isMyReservations">
  <h2 class="title">
    You have spened {{totalSpendings}}$
  </h2>
  <h2 class="title">
      Your 3 most visited cities are:
  </h2>
  <div>
    
  </div>
</div>
<div *ngIf="!(isMyReservations || isForMyApartments)">
  <h2 class="title">
    All Reservations
  </h2>
</div>
<br>
<table mat-table [dataSource]="reservations" class="mat-elevation-z8">
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Apartment Details </th>
    <td mat-cell *matCellDef="let reservation">
      Name: {{reservation.apartment !== undefined? reservation.apartment.name : "No Apartment"}}<br>
      Address: {{reservation.apartment !== undefined?  reservation.apartment.city + " " + reservation.apartment.address : "No Apartment"}}<br>
      Max-Visitors: {{reservation.apartment !== undefined ? reservation.apartment.maxvisitors : "No Apartment"}}
    </td>
  </ng-container>
  <ng-container matColumnDef="owner" *ngIf="!isForMyApartments">
    <th mat-header-cell *matHeaderCellDef> Owner Details </th>
    <td mat-cell *matCellDef="let reservation">
      Owner Name: {{reservation.owner.firstname+" "+reservation.owner.lastname}}<br>
      Owner Phone: {{reservation.owner.phone}}
    </td>
  </ng-container>
  <ng-container matColumnDef="customer" *ngIf="!isMyReservations">
    <th mat-header-cell *matHeaderCellDef> Costumer Details </th>
    <td mat-cell *matCellDef="let reservation">
      Costumer Name: {{reservation.customer.firstname+" "+reservation.customer.lastname}}<br>
      Costumer Phone: {{reservation.customer.phone}}
    </td>
  </ng-container>
  <ng-container matColumnDef="startdate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let reservation"> {{reservation.startdate}} </td>
  </ng-container>
  <ng-container matColumnDef="enddate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let reservation"> {{reservation.enddate}} </td>
  </ng-container>
  <ng-container matColumnDef="priceperday">
    <th mat-header-cell *matHeaderCellDef> Price Per Day/Total Price </th>
    <td mat-cell *matCellDef="let reservation">

      {{reservation.apartment !== undefined? reservation.apartment.price :"No Price"}}$/{{reservation.totalprice}}$
    </td>
  </ng-container>
  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef>Review </th>
    <td mat-cell *matCellDef="let reservation">

      <ng-container *ngIf="isMyReservations">

        Review:
        <mat-form-field>
          <input matInput type="text" name="review" ngModel minlength="3" #review="ngModel"
            [(ngModel)]="reservation.review">
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="!isMyReservations">
        Review: {{reservation.review? reservation.review :"No Review Submited"}}
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating</th>
    <td mat-cell *matCellDef="let reservation">
      <ng-container *ngIf="isMyReservations">
        Rating:
        <mat-form-field>
          <input matInput type="number" name="rating" ngModel #rating="ngModel" [(ngModel)]="reservation.rating">
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="!isMyReservations">
        {{reservation.rating? reservation.rating:"No Rating Submited" }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" *ngIf="!isForMyApartments">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let reservation"> 
    
        <button *ngIf="isMyReservations" mat-raised-button color="primary" type="button" (click)="onEdit(reservation)">
            Update Reservation
          </button>
          <button mat-raised-button color="warn" type="button" (click)="onDelete(reservation)">Delete
          </button>    
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
