<mat-expansion-panel>
    <mat-expansion-panel-header>
        Name: {{apartment.name}} | City: {{apartment.city}} | Price: $ {{apartment.price}} <div *ngIf="searchedDates"> |  
        <button 
            type="button"
            (click)="addReservation()">
            Reserve
        </button></div>
    </mat-expansion-panel-header>
    <p>
        Description: {{apartment.description}}<br>
        Address: {{apartment.address}}<br>
        Max-Visitors: {{apartment.maxvisitors}}<br> 
    </p>
    <app-apartment-edit
        *ngIf="allowEdit"
        [apartment]="apartment"
        (onDeleteApartment)="onDelete()"
    ></app-apartment-edit>
    <div [id]="this.tmpId"
    style="height:400px ;width:100%;overflow:auto;" ></div>
</mat-expansion-panel>