<mat-expansion-panel>
    <mat-expansion-panel-header>
        Name: {{apartment.name}} | City: {{apartment.city}} | Price: {{apartment.price}}
    </mat-expansion-panel-header>
    <p>
        Description: {{apartment.description}}<br>
        Address: {{apartment.address}}<br>
        Max-Visitors: {{apartment.maxvisitors}}<br> 
    </p>
    <app-apartment-edit
    [apartment]="apartment"
    ></app-apartment-edit>
    <button 
    mat-raised-button
    color="accent"
    (click)="onDelete()">Delete</button>  
</mat-expansion-panel>