:host {
  display: block;
  margin-top: 1rem;
}

table {
  width: 1173px;
  margin: 0 auto;
}

.title {
  width: 1173px;
  margin: 0 auto;
}

mat-card {
  width: 1173px;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}
