<mat-card>
    <h2>Add Apartment</h2>
    Name:
    <mat-form-field>
        <textarea matInput rows="1" ></textarea>
    </mat-form-field>
    <br>
    Description:
    <mat-form-field>
        <textarea matInput rows="4" ></textarea>
    </mat-form-field>
    <br>
    City:
    <mat-form-field>
        <textarea matInput rows="1" ></textarea>
    </mat-form-field>
    <br>
    Address:
    <mat-form-field>
        <textarea matInput rows="1" ></textarea>
    </mat-form-field>
    <br>
    Price:
    <mat-form-field>
        <textarea matInput rows="1" ></textarea>
    </mat-form-field>
    <br>
    Max-Visitors:
    <mat-form-field>
        <textarea matInput rows="1" ></textarea>
    </mat-form-field>
    <br>
    <button 
        mat-raised-button
        color="accent">
            save apartment
    </button>
</mat-card>