<mat-card>
    <form *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <h2>Log in</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              required
              #email="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="email.errors && f.submitted"
            >
              Email is required!
            </div>
          </div>
    <br>
    <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="0"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
    <br>
    <button 
        mat-raised-button
        color="accent"
        type="submit">
            Log In
    </button>
</form>
</mat-card>

