<mat-card>
    <form (submit)="onSubmit(userForm)" #userForm="ngForm">
    <h2>Log in</h2>
        Email:
    <mat-form-field>
        <input 
        matInput type="email"
        name="email"
        ngModel
        required
        minlength="3"
        #email="ngModel">
        <mat-error *ngIf="email.invalid">Please enter email</mat-error>
    </mat-form-field>
    <br>
    Password:
    <mat-form-field>
        <input 
        matInput type="password"
        name="password"
        ngModel
        required
        minlength="3"
        #password="ngModel">
        <mat-error *ngIf="password.invalid">Please enter a password</mat-error>
    </mat-form-field>
    <br>
    <button 
        mat-raised-button
        color="accent"
        type="submit">
            Log In
    </button>
</form>
</mat-card>
